.profile-img-card {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.divider {
    position: relative;
    text-align: center;
}

.divider .divider-text {
    background-color: white;
    padding: 0 10px;
    position: relative;
    top: -10px;
    color: #6c757d;
}
