<div class="container mt-4">
  <h4>Administracija</h4>
  <p class="text-muted">Upravljanje korisničkim ulogama. Generiranje rasporeda i aktivacija korisnika vrši se unutar svake sobe.</p>

  <hr>

  <h5>Upravljanje ulogama korisnika</h5>
  <div class="row mt-3">
    <div class="col-6">
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" placeholder="Korisničko ime">
    </div>
    <div class="col-4">
      <button class="btn btn-primary" type="button" (click)="getUserRole()">Dohvati korisnika</button>
    </div>
  </div>
  <div class="row mt-3">
    @if (requestedUser) {
      <div class="col">
        Admin: <input type="checkbox" [(ngModel)]="requestedUser.active">
        <button class="btn btn-primary ml-4" type="button" (click)="setAdmin()">Spremi</button>
      </div>
    }
  </div>
</div>
