<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
      />
    <div class="w-50 mt-5 mx-auto">
      <h4 class="text-center mb-3">{{ 'USERNAME_SETUP.TITLE' | translate }}</h4>
      <p class="text-center text-muted mb-4">
        {{ 'USERNAME_SETUP.DESCRIPTION' | translate }}
      </p>
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        >
        <div class="form-group">
          <label for="username">{{ 'USERNAME_SETUP.USERNAME' | translate }}</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            minlength="3"
            maxlength="20"
            #username="ngModel"
            />
            @if (username.errors && f.submitted) {
              <div class="alert-danger mt-1">
                @if (username.errors['required']) {
                  <div>{{ 'USERNAME_SETUP.USERNAME_REQUIRED' | translate }}</div>
                }
                @if (username.errors['minlength']) {
                  <div>
                    {{ 'USERNAME_SETUP.USERNAME_MIN_LENGTH' | translate }}
                  </div>
                }
                @if (username.errors['maxlength']) {
                  <div>
                    {{ 'USERNAME_SETUP.USERNAME_MAX_LENGTH' | translate }}
                  </div>
                }
              </div>
            }
          </div>
          <div class="form-group mt-3">
            <button class="btn btn-primary btn-block">{{ 'USERNAME_SETUP.SAVE' | translate }}</button>
          </div>
          @if (f.submitted && isSubmitted && errorMessage) {
            <div class="alert alert-warning mt-2">
              {{ 'USERNAME_SETUP.ERROR' | translate }}<br />{{ errorMessage }}
            </div>
          }
        </form>
      </div>
    </div>
  </div>
